<ul id="comedians">
<main>
  <% @comedians.each do |comedian| %>
       <h1><%= comedian.name %></h1>
       <p>Age: <%= comedian.age %></p>
       <p>Hometown: <%= comedian.city %></p>
       <% comedian.specials.each do |special| %>
             <p>Special Name: <%= special.name %></p>
             <p>Special Length: <%= special.length %> minutes </p>
             <img src="<%= special.photo %>"/>
       <% end %>
  <% end %>
</main>
</ul>
